/*==================================RESPONSIVE LAYOUTS===============================================*/
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1200px) {
 body{min-width:995px;}
 	.logo a{width: 200px;}
 	.menu_link{padding: 8px 6px;}
 	.project_item{margin-bottom: 20px;}
}

@media only screen and (max-width: 992px) {
 body{min-width:768px;}
 	.logo + div{margin-top: -40px;}
	.portfolio_content .project_item_sm, .portfolio_item{width: 45%;} 
	.portfolio_content .project_item_sm:last-child{padding: 0 0 20px 0;border-bottom: 1px solid rgba(255,255,255,.4);}
 	.project_item_sm{width: 30%;}
 	
}

@media only screen and (max-width: 767px) {
	body{min-width:480px;}
	nav{
		position: fixed;
	    right: -230px;
	    left: inherit;
	    background-color: #000;
	    width: 230px;
	    top: 0px;
	    padding: 40px 0;
	    height: 100%;
	    margin: 0;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	    z-index: 1;
	}
	.show_menu nav{
	    right: 0px;
	    -webkit-transition: all 400ms ease;
	    -moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
	    transition: all 400ms ease;
	}
	.show_menu_btn{
		display: block;
		width: 40px;
		height: 30px;
		background-color: transparent;
		position: absolute;
		top:20px;
		right:40px;
		cursor: pointer;
	}
	.show_menu_btn:before{
		content: "";
	    position: absolute;
	     top: 50%;
	    margin-top: -10px;
	    left: 10px;
	    width: 25px;
	    height: 3px;
	    background-color:#50cd88;
	    -webkit-box-shadow: 0 3px 0 transparent, 0 8px 0 #50cd88, 0 12px 0 transparent, 0 16px 0 #50cd88;
	    box-shadow: 0 3px 0 transparent, 0 8px 0 #50cd88, 0 12px 0 transparent, 0 16px 0 #50cd88;
	    display: block;
	}
   
  

	.show_menu .menu li{
		float: none;
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	.show_menu .menu li a{
		padding: 6px 20px;
	}
	.show_menu .menu li a:hover{
	    padding-left: 30px;
	    color: #fff;
    	background-color: #50cd88;
	}
   
	.header_slogan{text-align: center;}
	.logo,  .logo + div{float: none;}
	.logo a{margin: 0 auto;}
	.logo + div{margin-top: 0;}
	.project_item_sm{width: 46%;margin: 0 2% 20px;}
	.show_thumb_btn{width: 40px;height: 40px;bottom: 20px;background: #fff url(../images/show_thumb_icon.png) 50% 18px no-repeat;}
	.content_box{padding: 30px 0;}
	.projects_nav_list{margin-bottom: 20px;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
 .col-xs-6{width: 100%;}
 .project_item_sm{width: 100%;}
 .dark_bg .al_right{text-align: left;margin-top: 5px;}
 .portfolio_content .project_item_sm, .portfolio_item{width: 100%;} 
}